* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

/* Header */

header {
    background: #111827;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 28px;
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* Hero Section */

.hero {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px 20px;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a
    );
}

.hero-content p {
    font-size: 18px;
    color: #cbd5e1;
}

.hero h1 {
    font-size: 48px;
    margin: 15px 0;
    color: #38bdf8;
}

.hero h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

/* Buttons */

.btn {
    display: inline-block;

    margin-top: 25px;
    padding: 12px 25px;

    background: #38bdf8;
    color: #0f172a;

    text-decoration: none;

    border-radius: 25px;

    font-weight: bold;

    transition: 0.3s;
}

.btn:hover {
    background: white;
    transform: scale(1.05);
}

/* Sections */

section {
    padding: 80px 10%;
    text-align: center;
}

section h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #38bdf8;
}

section p {
    max-width: 800px;
    margin: auto;
    color: #cbd5e1;
}

/* Skills */

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    padding: 15px 25px;

    background: #1e293b;

    border: 1px solid #38bdf8;
    border-radius: 10px;

    transition: 0.3s;
}

.skill:hover {
    transform: translateY(-8px);
    background: #334155;
}

/* Education & Projects */

.education-card,
.project-card {
    background: #1e293b;

    padding: 25px;
    margin: 20px auto;

    max-width: 600px;

    border-radius: 15px;

    border: 1px solid #334155;

    transition: 0.3s;
}

.education-card:hover,
.project-card:hover {
    transform: translateY(-5px);
    border-color: #38bdf8;
}

.project-card a {
    display: inline-block;

    margin-top: 15px;

    color: #38bdf8;

    text-decoration: none;
}

/* Footer */

footer {
    text-align: center;

    padding: 25px;

    background: #111827;

    color: #94a3b8;
}

/* Mobile Responsive */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 20px;
    }

    section {
        padding: 60px 5%;
    }
}